@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{font-family: sans-serif;}
body{background-image: url(images/blackholebg.jpg); background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover; margin: 0; padding: 0;}

.container p{margin-left: 10px; float: left; margin-top: 10px; background: linear-gradient(76deg, #62615D9b, #9f9e9a9b);
font-family: "orbitron"; color: black; position: relative;}
.container a{margin-left: 10px; float: left; margin-top: 10px; text-decoration: none; font-family: "orbitron"}
.container img{width: 50px; float: left; margin-left: 10px; border-radius: 10px;}
#space{padding: 10px; margin-top: 6px; border-radius: 10px;}

.navbar ul{list-style-type: none; overflow: hidden;}
.navbar li a{color: #ccc; text-decoration: none; float: right; padding-right: 20px; position: relative;}
.navbar a::after{content:""; position: absolute; left: 0; bottom: 0; width: 0; height: 1.6px; background-color: #ccc; transition: width .3s ease;}
.navbar a:hover::after{width: 2em;}

.pages{width: 100%; height: 100vh; background: linear-gradient(to bottom, transparent, #000000ec); display: flex; flex-direction: column; padding: 100px 50px 50px 50px;}
.me{display: flex; justify-content: flex-end;}
.site{display: flex; justify-content: flex-start; padding: 0 0 0 50px;}

aside{font-size: 1.6em; width: 40%;}
aside h1{font-size: 2.4em;}
#siteinfos{width: 60%;}


footer{background: #4ca0a4; padding: 5px 0 5px 0; font-family: "Roboto";}
footer a{text-decoration: none; color: #230ad9;}
footer p{margin: 0; padding: 0; text-align: center;}