/*BODY PROPERTIES AND ALL PROPERTIES*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{font-family: sans-serif;}
body{background-image: url(images/background.jpg); background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover;}

/*HEADER PROPERTIES*/

/*navigation bar*/
.navbar ul{list-style-type: none; overflow: hidden;}
.navbar li a{color: #ccc; text-decoration: none; float: right; display: flex; justify-content: space-between; padding-right: 20px;}

/*container*/
.container a{margin-left: 10px; float: left; margin-top: 10px; text-decoration: none; color:#e8bb2e; font-family: "orbitron"}
.container img{width: 50px; float: left;}
#space{background-color: #ccc; padding: 10px; margin-top: 6px;}

/*MAIN PROPERTIES*/
main{padding-top: 10%; transform: translateX(20px);}

/*DROPDOWN PROPERTIES*/

.dropdown{background-color: none; display: inline-block; margin-left: 50%; transform: translateX(-50%);}

/*dropdown button*/
.dropdown button{background-color: #ccc0; color: #e8bb2e; padding: 0 100px 0 100px; border: none; transition: .2s ease; font-size: 1.4rem;}
.dropdown:hover button{font-size: 1.8rem;}

/*dropdown a*/
.dropdown a{display: block; color: white; text-decoration: none; padding: 20px 10px; font-size: 1rem; transition: .4s ease;}
.dropdown a:hover{color: #9c2bc5; font-size: 1.1rem;}

/*dropdown content*/
.dropdown .content{background-color: none; position: absolute; display:none; left: 50%; transform: translateX(-50%);}
.dropdown:hover .content{display: block;}

.dropdown ul{overflow: hidden; list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: center; gap: 10px;}

main h1{text-align: center; color: white;}