/*BODY PROPERTIES AND ALL PROPERTIES*/

/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{font-family: sans-serif;}
body{background-image: url(images/background.jpg); background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover; margin: 0; padding: 0;}


/*HEADER PROPERTIES*/

/*container*/
.container p{margin-left: 10px; float: left; margin-top: 10px; background: linear-gradient(76deg, #62615D9b, #9f9e9a9b);
font-family: "orbitron"; color: white; position: relative;}
.container a{margin-left: 10px; float: left; margin-top: 10px; text-decoration: none; font-family: "orbitron"}
.container img{width: 50px; float: left; margin-left: 10px; border-radius: 10px;}
#space{padding: 10px; margin-top: 6px; border-radius: 10px;}

/*navigation bar*/
.navbar ul{list-style-type: none; overflow: hidden;}
.navbar li a{color: #ccc; text-decoration: none; float: right; padding-right: 20px; position: relative;}
.navbar a::after{content:""; position: absolute; left: 0; bottom: 0; width: 0; height: 1.6px; background-color: #ccc; transition: width .3s ease;}
.navbar a:hover::after{width: 50%;}
.first_word{color: #877fc28a;}

/*MAIN PROPERTIES*/
html{scroll-behavior: smooth;} /*scroll animation*/
main{padding-top: 15%; font-size: 1.6rem;}
.menu{height: 100vh; width: 100%; background: linear-gradient(to top, #070908, #ccc0)}

/*page properties + individual properties*/
.page{width: 100%; padding: 0; margin: 0;}

.planets{width: 100%; height: 100vh; padding: 20px 0 20px 0; background: black;}
.planets h2{color: #726f6f}
.planet1{background: linear-gradient(to top, #000, #070908)}
.planets_content{display: flex; justify-content: space-evenly;}

.title {display: flex; align-content: center; justify-content: center;}
.title h1{font-size: 6rem; padding: 0; margin: 50px 0 20px 0; font-family: "saira"; font-weight:100;}

/*images properties*/
.image img{height: 100%; width: 100%;}
.image{width: 30vw; height: 30%; margin: 0 100px 0 100px;}

/*texts properties*/
aside{width: 20%; overflow-wrap: break-word; color: #ccc;}
aside h2{font-weight: 100;}
.planets_content aside{text-align: center;}

/*desc properties*/
.planets button{background: none; border: none; color: #98aee8; display: inline-block; font-size: 1em; margin: 0; padding: 0; text-decoration: underline;}
.planets button span{margin: 0; padding: 0;}
.planets button:hover span{display: none;}
.planets button:hover::before{content: "meaning it has a rocky body like Earth"; text-decoration: none; display: inline-block; text-align:start }


/*DROPDOWN PROPERTIES*/

.dropdown{background-color: none; display: inline-block; margin-left: 50%; transform: translateX(-50%);}

/*lines holders*/
.holder{display: inline-block; margin-left: 50%; transform: translateX(-50%);}
.holder2{display: inline-block; margin-left: 50%; transform: translateX(-50%);}

/*jugez pas les 2 prochaines lignes.*/
.holder::after{content:""; position: absolute; left: -230px; bottom: 20px; width: 1.6px; height: 50px; background-color: #ccc;}
.holder2::after{content:""; position: absolute; left: -244px; bottom: 58px; width: 100px; height: 1.6px; background-color: #ccc;}

/*dropdown button*/
.dropdown button{background-color: #ccc0; color: #ccc; padding: 0 100px 0 100px; border: none; transition: .2s ease; font-size: 2rem;}
.dropdown:hover button{font-size: 2.4rem;}

/*dropdown a*/
.dropdown a{display: block; color: white; text-decoration: none; padding: 20px 10px; font-size: 1.2rem; transition: .4s ease;}
.dropdown a:hover{color: #7f93c2; font-size: 1.4rem;}

/*dropdown content*/
.dropdown .content{background-color: none; position: absolute; display:none; left: 50%; transform: translateX(-50%);}
.dropdown:hover .content{display: block;}

.dropdown ul{overflow: hidden; list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: center; gap: 10px;}

main h1{text-align: center; color: white; position: relative; margin: 0; padding: 0; transition: .2s ease;}

/*FOOTER PROPERTIES*/
footer{background: #4ca0a4; padding: 5px 0 5px 0; font-family: "Roboto";}
footer a{text-decoration: none; color: #230ad9;}
footer p{margin: 0; padding: 0; text-align: center;}